.highQualText{
    font-size:48px;
    font-weight:600;
    line-height:57px;
}


@media screen and (max-width: 480px) {
    .highQualText{
        font-size:36px;
        font-weight:600;
        line-height:40px;
        padding-left: 22px;
        padding-right: 22px;
    }

}
