.footer {
  background-color: #f9f9f9;
  padding: 5rem 1rem 2rem 1rem;
  font-family: Arial, sans-serif;
  color: #333;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.footer-column {
  flex: 1;
  min-width: 200px; /* Ensures columns don't shrink too small */
  margin: 1rem 0;
  padding: 0 1rem;
}

.footer-column h4 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}


.footer-middle {
  display: flex;
  flex-direction: column; /* Stack items on mobile */
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
  font-size: 0.9rem;
  text-align: center;
}

.footer-bottom {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1rem;
  color: #777;
}

.footer-disclaimer {
  margin-top: 0.5rem;
}

.footer-links span {
  margin: 0 0.5rem;
  cursor: pointer;
  color: #0073e6;
}

.footer-links span:hover {
  text-decoration: underline;
}

.links{
  cursor: pointer;
}


/* Responsive Styles */
@media (min-width: 768px) {
  .footer-middle {
      flex-direction: row; /* Align horizontally for tablets and larger screens */
      text-align: left;
      align-items: flex-start;
  }
}

@media (min-width: 1024px) {
  .footer-column {
      margin: 0 1rem;
  }

  .footer {
      padding:5rem 3rem 2rem 3rem;
  }
}
