::-webkit-scrollbar {
    width: 6px; /* Width of the vertical scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(270deg, #B8E7F3 0%, #19A6D1 100%); /* Thumb color */
    border-radius: 10px;
  }
.scroll{

  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border-color: #86b6fe00;
    color: white;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-radius:0px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
