select {
    padding-right: 10px; /* Add space for the dropdown arrow */
    font-size: 16px;     /* Adjust font size as needed */
    line-height: 1.5;    /* Align the text vertically */
    /* background-color: white; */
    /* border: 1px solid #ddd; */
    /* border-radius: 4px; */
    /* display: flex; */
    /* align-items: center; */
  }

  li{
    cursor: pointer;
  }

  .dropdownDiv{
    width: max-content;
  }

  .logoImg{
    /* height: 4rem; */
  }

  @media screen and (max-width: 1220px) {
    .dropdownDiv{
      width: unset;
    }
    
  }
  
  @media screen and (max-width: 1130px) {
    .headUl, select{
      font-size: 14px;
    }
    
  }

  @media screen and (max-width: 768px) {
    .headerMain{
      padding-left: 22px;
      padding-right: 22px;
    }
    .logoImg{
      left: 1.5rem;
      /* height: 2rem; */
    }
    
}
  @media screen and (min-width: 1024px) {
    .lgblock{
      display: block !important;
    }
    .one{
      margin: 0 auto !important;
    }

  }

  