.formsStyle{
    height: max-content;
}
.bgi {
    background-image: url('/images/Blend Group 4.jpg'); /* Replace with your image path */
    background-size: 100% 100%; /* Stretches the image to cover the entire width and height */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: top center; /* Aligns the image to the top center */
    width: 100%; /* Ensures it spans the full width */
    height: 87vh; 
    position: relative; /* Allows other elements to be positioned on top */
    /* margin-top: 2rem; */
    /* padding-top: 5rem ; */
    /* padding-bottom: 5rem ; */
    margin-bottom: 2rem;

}
.asHubText{
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
}

.aboutUs{
    font-size: 5rem;
            font-weight: 700;
            line-height: 100px;
            /* background: linear-gradient(180deg, #B8E7F3 0%, #19A6D1 100%); */
            background: linear-gradient(180deg, #8287BF 0%, #38419A 100%);

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom: .5rem;
}

.socialHandles > a > img{
    height: 46px;
    width: 46px;
  }

@media screen and (max-width: 480px) {
    .aboutUs{
            font-size: 3.5rem;
            line-height: 68px;
    }
  }

  @media screen and (max-width: 1007px) {
    .bgi {
        height: auto; /* Adjust height to fill the viewport */
    }
  }

  @media screen and (max-width: 768px) {
    .bgi {
        padding-left: 22px;
        padding-right: 22px;
    }
  }