.secTwoHeading{
    font-size:48px;
    font-weight:600;
    line-height:57px;
    /* padding-top:4rem; */
}

@media screen and (max-width: 480px) {
    .secTwoHeading{
        font-size:36px;
        font-weight:600;
        line-height:40px;
        /* padding-top:4rem; */
    }
}

@media screen and (max-width: 768px) {
    .secTwoHeading{
        padding-left: 22px;
        padding-right: 22px;

    }

}

@media screen and (min-width: 1024px) {
    .largerScreen{
        max-width: 22%;

    }

}
@media screen and (max-width: 1024px) {
    .largerScreen{
        width: 100%;

    }

}




