.assignHelpText{
            font-size:48px;
            font-weight:600;
            line-height:57px;
}



@media screen and (max-width: 480px) {
.assignHelpText{
    font-size:36px;
    font-weight:600;
    line-height:40px;
}
}
@media screen and (max-width: 559px) {
    .advTools > div{
        width: 100% !important;
    }
    }

@media screen and (max-width: 768px) {
    .assignHelpText, .advTools{
        padding-left: 22px;
        padding-right: 22px;
    }
    }
    /* .imgs{
        width: 50% !important;
    } */