/* .ppoliciesText{ */
    /* font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    text-align: center; */

    .ppoliciesText {
        position: absolute;
        top: 16px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem; /* Adjust the size as needed */
        font-weight: bold;
        color: black; /* Adjust the color as needed */
        text-align: center;
      }

      .faqsText{
        font-size:48px;
        font-weight:600;
        line-height:57px;
    }
    
    
    @media screen and (max-width: 480px) {
    .faqsText{
        font-size:36px;
        font-weight:600;
        line-height:40px;
    }
    }
    
    @media screen and (max-width: 768px) {
        .faqMain{
            padding-left: 22px;
            padding-right: 22px;
    
        }
        }
    
    
@media screen and (max-width: 768px) {

    .textAre{
        padding-left: 22px;
        padding-right: 22px;
    }

}
