.carousel-container {
    padding: 2rem 1rem;
    background: #EAFBFF; /* Background color */
    border-radius: 10px;
  }
  
  .carousel-heading {
    text-align: center;
    /* font-size: 2rem;
    font-weight: bold; */
    margin-bottom: 2rem;
  }
  
  .carousel-item {
    position: relative;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .carousel-item.slick-center {
    transform: scale(1.3);
    opacity: 1;
    z-index: 2;
  }
  
  .carousel-item:not(.slick-center) {
    transform: scale(0.8);
    /* opacity: 0.5; */
    z-index: 1;
  }
  
  .content-wrapper {
    /* padding: 1rem; */
    /* background: white; */
    border-radius: 10px;
    color: #fff;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    /* text-align: center; */
  }
  
  .testimonial-image {
    width: 76px;
    height: 76px;

    /* height: 100%; */
    object-fit: cover;
    border-radius: 50%;
    /* margin: 0 auto 1rem auto; */
  }
  
  .testimonial-quote {
    font-style: italic;
    font-weight: 400;
    /* color: #555; */
    margin-bottom: 1rem;
  }
  
  .testimonial-info h3 {
    font-size: 36px;
    font-weight: 500;
    line-height: 52px;
    /* margin-bottom: 0.5rem; */
  }
  
  .testimonial-info p {
    /* color: #888; */
    font-size: 0.9rem;
  }
  

  @media (max-width: 1024px) {
    .testimonial-image{
      display: none !important;
    }
    .privacyImg{
      display: none !important;
    }
  }