.slick-dots li button:before {
  color: #333;
  /* Dot color */
}

.slick-dots li.slick-active button:before {
  color: #3498db;
  /* Active dot color */
}

.slick-prev:before,
.slick-next:before {
  color: #000;
  /* Arrow color */
}

.slick-slide {
  outline: none;
  /* Remove default focus outline */
}

.slick-dots {
  bottom: -2rem;
  /* Adjust to match the position */
}

.slick-dots li button:before {
  color: #000;
  /* Dot color */
  font-size: 10px;
  /* Match the dot size */
}

.slick-dots li.slick-active button:before {
  color: #3498db;
  /* Active dot color */
  font-size: 10px;
}

/* Carousel Content Styling */
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.lg-flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

/* .hidden {
    display: none;
  } */

/* .lg\\:flex {
    display: flex;
  } */

.w-full {
  width: 100%;
}

/* .lg\\:w-1\\/2 {
    width: 50%;
  } */

.max-w-sm {
  max-width: 400px;
}

.text-left {
  text-align: left;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.rounded-md {
  border-radius: 0.375rem;
}

.sliderMain {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  /* Ensures proper spacing between content */
  position: relative;
}

@media screen and (max-width: 1024px) {

  .lines {
    display: none;
  }

}

@media screen and (max-width: 767px) {

  .imgCaros {
    display: none !important;
  }

}